<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

  <link href="/css/style1.css" rel="stylesheet" type="text/css">
<head>
  <title>Trang web cho mượn sách</title>

</head>

<body>
  <!-- Top bar Start -->
  <div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i> admin@gmail.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i> +0123456789
        </div>
    </div>
  </div>
<!-- Top bar End -->

  <header>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <img src="http://localhost:9090/logo.jpg">
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Trang chủ</a>
        </li>
        
        <li class="nav-item">
          <a href="/products/all" class="nav-link" style="width: 150%;">Danh mục sách</a>
          <ul class="submenu">
            <li><a href="/products/sach-kinh-doanh">Sách kinh doanh</a></li>
            <li><a href="/products/sach-ky-nang">Sách kỹ năng</a></li>
            <li><a href="/products/sach-tam-ly-hoc">Sách tâm lý học</a></li>
            <li><a href="/products/sach-van-hoc">Tiểu thuyết/ Văn học</a></li>
            <li><a href="/products/tai-chinh">Đầu tư tài chính</a></li>
            <li><a href="/products/thieu-nhi">Thiếu nhi</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">GIỚI THIỆU</a>
          <ul class="submenu">
            <li><a href="/user/lien-he/">Về chúng tôi</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            
          </ul>
        </li>
      </ul>
    </nav>
    <div class="search-bar">
      <div class="search-input-container">
          <input type="text" id="search-input" placeholder="Search...">
          <button id="search-btn" class="search-btn"><i class="fa fa-search"></i></button>
      </div>
      <nav>
        <ul>
          <h3 href="/user/profile"> <%= user.username %></h3>
         
          <div class="cart-icon" id="cartIcon">
            <button onclick="redirectToCart()">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </button>
          </div>
          
        </ul>
      </nav>
  </header>
  
  <main>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/products/all">Products</a></li>
        <li><a href="/products/tai-chinh"> Tài chính</a> </li>
    </ul>
    
    <div class="main-conntent">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12 collection-filter">
                    <div class="filter_group" aria-expanded="false">
                        <div class="group-menu filter_group_block">
                            <div class="filter_group-subtitle">
                                <span>Danh mục sản phẩm</span>
                                <span class="icon-control"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                            </div>
                            <div class="filter_group-content layered-category">
                                <div class="layered-content">
                                    <ul class="tree-menu">
                                        <li>
                                            <span></span>
                                            <a class="" href="/products/sach-kinh-doanh" title="Sách Kinh Doanh" target="_self">
                                                Sách Kinh Doanh
                                            </a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a class="" href="/products/sach-tam-ly-hoc" title="Sách Tâm Lý Học" target="_self">
                                                Sách Tâm Lý Học
                                            </a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a class="" href="/products/sach-van-hoc" title="Sách Văn Học - Tiểu Thuyết" target="_self">
                                                Sách Văn Học - Tiểu Thuyết
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <span></span>
                                            <a class="" href="/products/sach-ky-nang" title="Booflife - Phong cách sống" target="_self">
                                                Sách kỹ năng
                                            </a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a class="" href="/products/tai-chinh" title="Đầu tư - Tài chính" target="_self">
                                                Đầu tư - Tài chính
                                            </a>
                                        </li>
                                        <li>
                                            <span></span>
                                            <a class="" href="/products/thieu-nhi" title="Thiếu Nhi" target="_self">
                                                Thiếu Nhi
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter_group" aria-expanded="false">
                        <div class="filter_group_block">
                            <div class="filter_group-subtitle">
                                <span>Lọc giá</span>
                                <span class="icon-control"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                            </div>
                            <div class="filter_group-content filter-price">
                              <ul class="checkbox-list">
                                  <li>
                                      <input type="checkbox" id="p1" name="cc" data-min-price="0" data-max-price="100000">
                                      <label for="p1">
                                          <span>Dưới</span> 100.000₫
                                      </label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="p2" name="cc" data-min-price="100000" data-max-price="200000">
                                      <label for="p2">
                                          100.000₫ - 200.000₫
                                      </label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="p3" name="cc" data-min-price="200000" data-max-price="300000">
                                      <label for="p3">
                                          200.000₫ - 300.000₫
                                      </label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="p4" name="cc" data-min-price="300000" data-max-price="400000">
                                      <label for="p4">
                                          300.000₫ - 400.000₫
                                      </label>
                                  </li>
                                  <li>
                                      <input type="checkbox" id="p5" name="cc" data-min-price="400000" data-max-price="">
                                      <label for="p5">
                                          <span>Trên</span> 400.000₫
                                      </label>
                                  </li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="filter_group" aria-expanded="false">
                      <div class="filter_group-subtitle">
                        <span>Sắp xếp</span>
                        <span class="icon-control"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                      </div>
  
                      <div class="filter_group-content filter-book">
                        <ul class="checkbox-list">
                            <li>
                                <input type="checkbox" id="ascending" name="sort" value="ascending" data-min-price="0" data-max-price="500000">
                                <label for="ascending">
                                    <span>Giá tăng dần</span> 
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="descending" name="sort" value="descending" data-min-price="0" data-max-price="500000" >
                                <label for="descending">
                                    <span>Giá giảm dần</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-12 collection-content">
                    <h3>Tất cả sản phẩm</h3>
                    <div class="main1">
                        <section class="book-list">
                            <% let count1 = 0; %>
                            <% books.forEach((book) => { %>
                              <% if (count1 < 63) { %>
                                <div class="book">
                                  <div class="book-image">
                                    <a href="/products/<%= encodeURIComponent(book.title) %>">
                                      <img src="http://localhost:9090/<%= book.img %>" alt="Book Image">
                                    </a>
                                  </div>
                                  <div class="book-info">
                                    <h3><%= book.title %> - <%= book.author %></h3>
                                    <p style="color: red; font-size: 20px;"><%= book.price.toLocaleString('en-US') %>₫</p>
                                    <p class="rating">★★★★★</p>
                                    <a href="/products/<%= encodeURIComponent(book.title) %>" class="borrow-button">Mua ngay</a>
                                  </div>
                                </div>
                                <% count1++; %>
                              <% } %>
                            <% }) %>
                          </section>
                    </div>
                    <div class="collection-loadmore">
                        <a class="button btn-loadmore" id="loadMoreButton">Xem thêm sản phẩm</a>
                    </div>
                </div>
                
            </div>
            

        </div>
    </div>
  </main>

  <footer id="footer">
    <div class="logo-footer">
      <div class="logo">
        <a href="http://localhost:9090/">
            <img src="http://localhost:9090/logo.jpg">
        </a>
    </div>
    </div>
    <div class="social-links">
      <h2>Mạng xã hội</h2>
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="#"><i class="fa fa-instagram"></i>Instargram</a>
        <!-- Thêm các biểu tượng mạng xã hội khác nếu cần -->
      </div>
    </div>
    <div class="useful-link">
      <h2>DANH MỤC</h2>
      <ul class="use-links">
        <li><i class="fa fa-angle-right"></i><a href="#">Về chúng tôi</a></li>
        <li><i class="fa fa-angle-right"></i><a href="#">Chính sách bảo mật</a></li>
        <li><i class="fa fa-angle-right"></i><a href="#">Điều khoản sử dụng</a></li>
        <!-- Thêm các liên kết khác nếu cần -->
      </ul>
    </div>
    <div class="address">
      <h2>Địa chỉ</h2>
      <ul class="address-links">
        <li><i class="fa fa-map-marker"></i><span class="address1">123 Đường ABC, Thành phố XYZ</span></li>
        <li><i class="fa fa-phone"></i><a href="tel:123-456-7890">123-456-7890</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></li>
        <!-- Thêm các liên kết địa chỉ khác nếu cần -->
      </ul>
    </div>
  </footer>

  
  <script>
    var sortCheckboxes = document.querySelectorAll('input[name="sort"]');
    sortCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            sortItemsByPrice();
        });
    });

  function sortItemsByPrice() {
    var sortCheckboxes = document.getElementsByName('sort');
    var minPrice, maxPrice;
    var sortType;

    // Lặp qua tất cả các checkbox sắp xếp
    sortCheckboxes.forEach(function (checkbox) {
        if (checkbox.checked) {
            // Lấy giá trị min và max từ thuộc tính data của checkbox được chọn
            minPrice = parseInt(checkbox.getAttribute('data-min-price'));
            maxPrice = parseInt(checkbox.getAttribute('data-max-price'));
            // Lấy giá trị sắp xếp từ thuộc tính value của checkbox được chọn
            sortType = checkbox.value;
        }
    });

    // Lọc sản phẩm theo giá
    var books = document.getElementsByClassName('book');
    var booksArray = Array.from(books);

    var filteredBooks = booksArray.filter(function (book) {
        var priceElement = book.querySelector('.book-info p');
        var price = parseInt(priceElement.innerText.replace('₫', '').replace(',', ''));

        if (minPrice && maxPrice) {
            return price >= minPrice && price <= maxPrice;
        } else if (minPrice && !maxPrice) {
            return price >= minPrice;
        } else if (!minPrice && maxPrice) {
            return price <= maxPrice;
        } else {
            return true;
        }
    });

    // Sắp xếp mảng các phần tử theo giá
    if (sortType === 'ascending') {
        filteredBooks.sort(function (a, b) {
            var priceA = parseInt(a.querySelector('.book-info p').innerText.replace('₫', '').replace(',', ''));
            var priceB = parseInt(b.querySelector('.book-info p').innerText.replace('₫', '').replace(',', ''));
            return priceA - priceB;
        });
    } else if (sortType === 'descending') {
        filteredBooks.sort(function (a, b) {
            var priceA = parseInt(a.querySelector('.book-info p').innerText.replace('₫', '').replace(',', ''));
            var priceB = parseInt(b.querySelector('.book-info p').innerText.replace('₫', '').replace(',', ''));
            return priceB - priceA;
        });
    }

    // Xóa các phần tử hiện tại
    while (books[0]) {
        books[0].parentNode.removeChild(books[0]);
    }

    // Thêm lại các phần tử đã được lọc và sắp xếp vào danh sách
    filteredBooks.forEach(function (book) {
        document.querySelector('.book-list').appendChild(book);
    });
}
    
    var checkboxes = document.querySelectorAll('input[name="cc"]');
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            filterPrice();
        });
    });

    function filterPrice() {
      var checkboxes = document.getElementsByName('cc');
      var minPrice, maxPrice;
    
      // Lặp qua tất cả các checkbox lọc giá
      checkboxes.forEach(function(checkbox) {
          if (checkbox.checked) {
              // Lấy giá trị min và max từ data attribute của checkbox được chọn
              minPrice = parseInt(checkbox.getAttribute('data-min-price'));
              maxPrice = parseInt(checkbox.getAttribute('data-max-price'));
          }
      });
    
      // Lọc sản phẩm theo giá
      var books = document.getElementsByClassName('book');
      for (var i = 0; i < books.length; i++) {
          var book = books[i];
          var priceElement = book.querySelector('.book-info p');
          var price = parseInt(priceElement.innerText.replace('₫', '').replace(',', ''));
        
          // Kiểm tra giá của sách và ẩn/hiển thị tùy theo giá trị min và max
          if (minPrice && maxPrice) {
              if (price >= minPrice && price <= maxPrice) {
                  book.style.display = 'block';
              } else {
                  book.style.display = 'none';
              }
          } else if (minPrice && !maxPrice) {
              if (price >= minPrice) {
                  book.style.display = 'block';
              } else {
                  book.style.display = 'none';
              }
          } else if (!minPrice && maxPrice) {
              if (price <= maxPrice) {
                  book.style.display = 'block';
              } else {
                  book.style.display = 'none';
              }
          } else {
              book.style.display = 'block';
          }
      }
  }
    
    //Search-bar

    $(document).ready(function() {
      $('#search-btn').click(function() {
        search();
      });
    
      $('#search-input').keypress(function(event) {
        if (event.which === 13) {
          search();
        }
      });
    
      function search() {
        var keyword = $('#search-input').val();
        // check if it includes the 'book:' keyword
        if (keyword.includes('book:')) {
          // extract book title from the search query
          var index = keyword.indexOf('book:') + 5;
          var bookTitle = keyword.substring(index);
          window.location.href = '/products/search?book=' + encodeURIComponent(bookTitle);
        } else {
        
          window.location.href = '/products/search?keyword=' + encodeURIComponent(keyword);
        }
      }
    });

    function redirectToCart() {
      window.location.href = "/user/gio-hang";
    }
    $(document).ready(function () {
      function nextSlide() {
        var $carouselInner = $(".carousel-inner");
        $carouselInner.animate(
          { marginLeft: "-33.33%" },
          1000,
          function () {
            $carouselInner.css("margin-left", "0");
            $(".carousel-item:first").appendTo($carouselInner);
          }
        );
      }

      setInterval(nextSlide, 3000);
    });

    document.addEventListener("DOMContentLoaded", function() {
  var searchBtn = document.getElementById("search-btn");
  var searchInput = document.getElementById("search-input");
  
  searchBtn.addEventListener("click", function(event) {
    event.preventDefault();
    performSearch();
  });
  
  searchInput.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      performSearch();
    }
  });
  
  function performSearch() {
    var searchTerm = searchInput.value;
    console.log("Tìm kiếm: " + searchTerm);
    // Thực hiện các hành động tìm kiếm khác tại đây
    }
  });
  const cartButton = document.getElementById('cartIcon');
  cartButton.addEventListener('click', () => {
    console.log('Nút giỏ hàng được bấm!');
  });

  const navbarToggle = document.querySelector('.navbar-toggle');
  const navbarMenu = document.querySelector('.navbar-nav');

  




   

    function redirectToCart() {
        window.location.href = "/user/gio-hang";
    }
    // Khai báo biến đếm cho số lượng sản phẩm đã hiển thị
    var displayedCount = 12;

    // Lấy ra danh sách tất cả các sản phẩm
    var allBooks = document.querySelectorAll('.book');

    // Ẩn tất cả các sản phẩm
    allBooks.forEach(function(book) {
        book.style.display = 'none';
    });

    // Hiển thị các sản phẩm đầu tiên (12 sản phẩm)
    for (var i = 0; i < displayedCount; i++) {
        allBooks[i].style.display = 'block';
    }

    // Xử lý sự kiện khi nhấn vào nút "Xem thêm sản phẩm"
    document.getElementById('loadMoreButton').addEventListener('click', function() {
        // Hiển thị thêm 8 sản phẩm mỗi lần
        for (var i = displayedCount; i < displayedCount + 8 && i < allBooks.length; i++) {
            allBooks[i].style.display = 'block';
        }

        // Tăng số lượng sản phẩm đã hiển thị
        displayedCount += 8;

        // Ẩn nút "Xem thêm sản phẩm" nếu đã hiển thị hết tất cả sản phẩm
        if (displayedCount >= allBooks.length) {
            document.getElementById('loadMoreButton').style.display = 'none';
        }
    });
</script>

</body>
</html>